<div
  class="cs-hero cs-style1 cs-type2 cs-bg text-center cs-ripple_version"
  data-src="assets/img/testsize.png"
  id="home"
>
  <div class="cs-dark_overlay"></div>
  <div class="container">
    <div
      class="cs-hero_img wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.3s"
    >
      <img src="assets/img/hero.jpeg" alt="Hero Image" />
      <div class="cs-hero_img_sm">
        <img src="assets/img/hero_img_sm.png" alt="Hero Image" />
      </div>
    </div>
    <div
      class="cs-hero_text wow fadeIn"
      data-wow-duration="1s"
      data-wow-delay="0.45s"
    >
      <h2 class="cs-hero_secondary_title cs-font_22 cs-font_18_sm">
        0 / 725 Minted
      </h2>

      <h1 class="cs-hero_title cs-font_60 cs-font_36_sm cs-bold">
        A Completely new way to mint and <br />
        earn with your own NFTs
      </h1>
      <h3 class="cs-hero_subtitle cs-font_20 cs-font_16_sm cs-body_line_height">
        Max 3 NFTs Per Wallet. PRICE
        <span class="cs-accent_color">0.02</span> ETH <br />
        Mint is Live Until <span class="cs-accent_color">22 July</span>
      </h3>
      <div class="cs-btn_group">
        <a
          class="cs-btn cs-btn_filed cs-accent_btn cs-modal_btn"
          data-modal="mint"
          ><span>MINT NOW!</span></a
        >
        <a class="cs-btn cs-color1"><span>Join the Waitlist</span></a>
      </div>
    </div>
  </div>
</div>
